:root{
    --verde: #3cc34c;
}
@font-face {
    font-family: 'kerox';
    src: url(../css/Kerox-NonCommercial.otf);
    font-display: swap;
}
*{
    font-family: 'kerox', cursive;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    border: none; outline: none;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
html::-webkit-scrollbar{
    width: .7rem;
}
html::-webkit-scrollbar-track{
    background: #fff;
}
html::-webkit-scrollbar-thumb{
    background: var(--verde);
}
section{
    padding: 2rem 9%;
    min-height: 100vh;
}
body{
    background: #eee;
    padding-right: 5rem;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    background: #222;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;
    position: relative;
}
.btn::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: .2rem;
    width: 2rem;
    background: var(--verde);
}
.btn::after{
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    height: .3rem;
    width: 2rem;
    background: var(--verde);
}
.btn:hover::before,
.btn:hover::after{
    background: #222;
}
.btn:hover{
    background: var(--verde);
    letter-spacing: .2rem;
}
.heading{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 6rem;
    text-transform: uppercase;
    color: #222;
}
.heading span{
    color: var(--verde);
    text-transform: uppercase;
}
header{
    position: fixed;
    top: 0; right: 0;
    min-height: 100vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 1000;
}
header .navbar{
    writing-mode: vertical-lr;
    padding: 1.5rem;
}
header .navbar a{
    padding: 1rem;
    font-size: 1.7rem;
    color: #222;
}
header .navbar a:hover{
    color: var(--verde);
}
#menu-bars{
    position: fixed;
    z-index: 10000;
    top: 1rem; left: 1rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--verde);
    cursor: pointer;
    font-size: 3rem;
    display: none;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.home #particles-js{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}
.home::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}
.home .content{
    text-align: center;
    position: relative;
    z-index: 1;
}
.home .content img{
    height: 35rem;
    width: 35rem;
    border-radius: 50%;
    object-fit: cover;
    border: .5rem solid var(--verde);
}
.home .content h3{
    color: #222;
    font-size: 4rem;
}
.home .content h3 span{
    color: var(--verde);
}
.home .content p{
    color: #222;
    font-size: 2.5rem;
    line-height: 2;
}
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.about .row .image{
    text-align: center;
    flex: 1 1 25rem;
    height: 45rem;
}
.about .row .image img{
    width: 30rem;
    height: 100%;
    border-radius: .5rem;
    border: .3rem solid var(--verde);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    object-fit: cover;
}
.about .row .content{
    flex: 1 1 55rem;
}
.about .row .content h3{
    color: #222;
    font-size: 4rem;
}
.about .row .content h3 span{
    color: var(--verde);
}
.about .row .content .info{
    color: #333;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 2;
}
.about .row .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 0;
}
.about .row .content .box-container .box{
    flex: 1 1 20rem;
}
.about .row .content .box-container .box p{
    font-size: 1.7rem;
    color: #222;
    padding: .5rem 0;
    line-height: 2;
}
.about .row .content .box-container .box span{
    color: var(--verde);
}
.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.services .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    padding: 2rem;
    text-align: center;
}
.services .box-container .box:hover{
    background: #222;
}
.services .box-container .box i{
    color: var(--verde);
    font-size: 5rem;
    padding: 1rem 0;
}
.services .box-container .box h3{
    color: #222;
    font-size: 2.5rem;
    padding-top: 1rem;
}
.services .box-container .box p{
    color: #333;
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
}
.services .box-container .box:hover h3,
.services .box-container .box:hover p{
    color: #fff;
}
.porfolio .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.porfolio .box-container.active{
    padding-bottom: 9rem;
}
.porfolio .box-container .box{
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    padding: 1rem;
    cursor: pointer;
    position: relative
}
.porfolio .box-container .box .image{
    height: 25rem;
    width: 100%;
    overflow: hidden;
    border-radius: .5rem;
    position: relative;
}
.porfolio .box-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.porfolio .box-container .box .image .play{
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    display: none;
}
.porfolio .box-container .box:hover .image .play{
    display: flex;
}
.porfolio .box-container .box .image .play i{
    font-size: 5rem;
    color: #fff;
}
.porfolio .box-container .box .content{
    padding-top: 1rem;
}
.porfolio .box-container .box .content h3{
    font-size: 2.5rem;
    color: #222;
    text-align: center;
}
.porfolio .music-player{
    position: relative;
    bottom: -125px; left: 0; right: 0;
    background: #fff;
    z-index: 1000;
    border-radius: .5rem;
    display: none;
}
.porfolio .music-player.active{
    bottom: 0;
    display: initial;
}
.porfolio .music-player .music-title{
    font-size: 2rem;
    margin-bottom: .5rem;
    border-top: 3px solid var(--verde);
    border-bottom: 1px solid var(--verde);
    text-align: center;
    color: #222;
    padding: 1rem 0;
}
.porfolio .music-player audio{
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: .5rem;
    position: relative;
}
.porfolio .music-player audio::-webkit-media-controls-enclosure{
    border-radius: .5rem;
    background: var(--verde);
}
.porfolio .music-player #close-player{
    position: absolute;
    top: -5rem; left: 1rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    cursor: pointer;
    font-size: 3rem;
    color: var(--verde);
    border: 3px solid var(--verde);
    border-bottom: none;
    text-align: center;
}
.blogs .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.blogs .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    padding: 2rem;
}
.blogs .box-container .box img{
    height: 20rem;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}
.blogs .box-container .box h3{
    color: var(--verde);
    font-size: 2.5rem;
    padding: .5rem 0;
}
.blogs .box-container .box p{
    color: #444;
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}
.contact .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.contact .row .image{
    flex: 1 1 40rem;
}
.contact .row .image img{
    width: 100%;
}
.contact .row form{
    flex: 1 1 40rem;
    padding: 1rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: .5rem;
    background: #fff;
}
.contact .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact .row form .inputBox input,
.contact .row form .box,
.contact .row form textarea{
    width: 100%;
    border-radius: .5rem;
    font-size: 1.7rem;
    color: #333;
    padding: 1rem;
    margin: 1rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none;
}
.contact .row form .inputBox input:focus,
.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--verde);
}
.contact .row form .inputBox input::placeholder,
.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: capitalize;
}
.contact .row form .inputBox input{
    width: 49%;
}
.contact .row form textarea{
    height: 20rem;
    resize: none;
}
.contact .row form .btn{
    margin: .5rem 0;
}
.footer{
    text-align: center;
    padding: 2.5rem;
    font-size: 2rem;
    color: #222;
    background: #1E9600;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF0000, #FFF200, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF0000, #FFF200, #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.footer span{
    background: linear-gradient(90deg, #c300d3 30%, #1c00f2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    body{
        padding-right: 0;
    }
    section{
        padding: 2rem;
    }
    header{
        width: 100%;
        left: -120%;
        background-color: rgba(0,0,0,.9);
    }
    header.active{
        left: 0;
        z-index: 100000;
    }
    #menu-bars{
        display: initial;
        z-index: 100000;
    }
    header .navbar{
        writing-mode: horizontal-tb;
    }
    header .navbar a{
        display: block;
        font-size: 3rem;
        color: #eee;
    }
}
@media (max-width: 768px){
    .porfolio .music-player audio{
        width: 100%;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 4rem;
    }
    .contact .row form .inputBox input{
        width: 100%;
    }
}
